doctype
html(lang='es')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css")
    link(href="/public/css/app.css" rel="stylesheet")
    title FotoFacilito
  body
    nav(class="large-padding black white-text")
      ul
        li
          a(href="/app") Inicio
        li
          a(href="/app/imagenes") Mis Imágenes
    block contenido
